.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
.env/*
playground/
data/
.devcontainer/
*.sqlite
*.env
*.csv
*.log
logs/
*.sql
celerybeat-schedule
*.pid
*.drawio
eggs/
build/
dbs/
*.egg-info/
dumps/
drawio/
redis_data/