beautifulsoup4
lxml
requests
psycopg2
SQLAlchemy
sqlalchemy2-stubs
PyYAML
flake8
alembic
pytest
pytest-mock
scrapy
scrapy_proxies
sqlalchemy_mixins
faker
feedparser
celery[librabbitmq]

# flask-related
flask
Flask-Session
flask-login
Flask-Cors
Flask-WTF
WTForms
Authlib
loginpass

#wsgi server
gunicorn